<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-md-6 text-center mb-5'>
      <h2 class='heading-section'><%= @project.title%></h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <%= render 'project_form' ,is_disabled: true %>
    </div>
    <div class='col-md-12'>
      <%= button_to 'View Bugs', project_bugs_path(@project.id), :method => 'get' %>
    </div>

  </div>
</div>
