<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-md-6 text-center mb-5'>
      <h2 class='heading-section'>Create New Bug</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <%= render 'bug_form', is_editable: true %>
    </div>
  </div>
</div>
